<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{ mplbed_head(core=True) }}
    <link href="{{ url_for('static', path='generated/index.css') }}" rel="stylesheet">
    <script type="module" src="{{ url_for('static', path='generated/index.js') }}"></script>
    <title>{% block title %}{% endblock %}</title>
    {% block extra_head %}{% endblock %}
</head>
<body class="min-h-screen" {% block body_attrs %}{% endblock %}>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="spinner" class="htmx-indicator fixed inset-0 place-self-center p-20 bg-white z-50 drop-shadow-xl">
        <img
            src="{{ url_for('static', path='img/flask.gif') }}"
            alt="Loading...">
    </div>
    <div id="cache-status-connection" hx-ext="ws" ws-connect="{{ url_for('cache_status') }}"
         hx-on::ws-close="this.querySelector('#cache-progress').hidden = true"
         hx-on::ws-error="this.querySelector('#cache-progress').hidden = true">
        {% include "_cache_progress.html" %}
    </div>
</body>
</html>
