<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{ mplbed_head(core=True) }}
    <link href="{{ url_for('static', path='vendor/tabulator.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', path='vendor/tabulator.min.js') }}"></script>
    <script src="{{ url_for('static', path='vendor/tailwind-browser.js') }}"></script>
    <script src="{{ url_for('static', path='vendor/htmx.min.js') }}"></script>
    <script src="{{ url_for('static', path='vendor/htmx-ext-sse.js') }}"></script>
    <script src="{{ url_for('static', path='vendor/alpine.min.js') }}" defer></script>
    <title>{% block title %}{% endblock %}</title>
    <style>
    @layer utilities {
        .small-caps {
            font-variant: all-small-caps;
        }
    }
    </style>
    {% block extra_head %}{% endblock %}
</head>
<body class="min-h-screen relative" {% block body_attrs %}{% endblock %}>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="spinner" class="htmx-indicator fixed inset-0 place-self-center p-20 bg-white z-50 drop-shadow-xl">
        <img
            src="{{ url_for('static', path='img/flask.gif') }}"
            alt="Loading...">
    </div>
</body>
</html>
