<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{ mplbed_head(core=True) }}
    <link href="{{ url_for('static', path='vendor/tabulator.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', path='vendor/tabulator.min.js') }}"></script>
    <script src="{{ url_for('static', path='vendor/tailwind-browser.js') }}"></script>
    <script src="{{ url_for('static', path='vendor/htmx.min.js') }}"></script>
    <script src="{{ url_for('static', path='vendor/htmx-ext-sse.js') }}"></script>
    <script src="{{ url_for('static', path='vendor/alpine.min.js') }}" defer></script>
    <title>{% block title %}{% endblock %}</title>
    <style>
    @layer utilities {
        .small-caps {
            font-variant: all-small-caps;
        }
    }
    </style>
    <script>
    // https://github.com/bigskysoftware/htmx/issues/2156#issuecomment-1968042842
    htmx.defineExtension('push-url-w-params', {
        onEvent : function(name, e) {
            if (name === "htmx:configRequest") {
                const path = e.target.getAttribute('data-push-url')
                const params = new URLSearchParams(e.detail.parameters).toString()
                let url;
                if (path.indexOf("://") == -1) {
                    url = `${window.location.origin}${path}?${params}`
                } else {
                    url = `${path}?${params}`
                }
                window.history.pushState({}, '', url);
            }
        }
    });
    </script>
    {% block extra_head %}{% endblock %}
</head>
<body class="min-h-screen relative" {% block body_attrs %}{% endblock %}>
    <div class="bg-black text-white top-0 left-0 w-full text-center z-10 small-caps tracking-wider flex">
        <div class="p-2 ph-4 hover:bg-sky-800">
            Single dataset
        </div>
        <div class="p-2 ph-4 hover:bg-sky-800">
            Dataset comparison
        </div>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="spinner" class="htmx-indicator fixed inset-0 place-self-center p-20 bg-white z-50 drop-shadow-xl">
        <img
            src="{{ url_for('static', path='img/flask.gif') }}"
            alt="Loading...">
    </div>
</body>
</html>
