{% if request.state['htmx'] %}
    {% extends "base_fragment.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="p-2 bg-slate-100 flex flex-wrap w-full">
        {% include "dataset_select_fragment.html" %}
        {% with target=url_for('participant_overview') %}
            {% include "participant_select_fragment.html" %}
        {% endwith %}
    </div>
    <div class="flex" id="viewer">
    </div>
{% endblock %}
