{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="p-2 bg-slate-100 flex flex-wrap w-full">
        {% include "dataset_select_fragment.html" %}
        {% include "participant_select_fragment.html" %}
    </div>
    <div id="viewer"
        {% if view == 'peeks' and qc_type == 'eeg' %}
            x-data='{show_scalp: true}'
        {% endif %}
    >
        {% include "participant_views_fragment.html" %}
        {% block participant_view_content %}{% endblock %}
    </div>
{% endblock %}
