{% if request.state['htmx'] %}
    {% extends "participant_fragment_base.html" %}
{% else %}
    {% extends "participant_base.html" %}
{% endif %}

{% block participant_view_content %}
    <div class="m-4">
        <h3 class="text-xl my-2 mt-4">Steps {{ request.htmx }}</h3>
        <ul>
            {% for step_num, step in steps %}
                <li>
                    <a
                        class="text-blue-800 hover:underline"
                        href="#"
                        hx-get="{{ url_for('participant_steps') }}"
                        hx-include="#source-select, #participant-select"
                        hx-target="#viewer"
                        hx-swap="outerHTML"
                        hx-vals='{"step": "{{ step_num|urlencode }}"}'
                        hx-indicator="#spinner">
                        {{ step }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <h3 class="text-xl my-2 mt-4">Quality control</h3>
        <ul>
            {% for img_file in qc %}
                <li>
                    <a
                        class="text-blue-800 hover:underline"
                        href="#"
                        hx-get="{{ url_for('participant_peeks') }}"
                        hx-include="#source-select, #participant-select"
                        hx-target="#viewer"
                        hx-swap="outerHTML"
                        hx-vals='{"img": "{{ img_file|urlencode }}"}'>
                        {{ img_file }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <h3 class="text-xl my-2 mt-4">Logs</h3>
        <ul>
            {% for log_file in logs %}
                <li>
                    <a
                        class="text-blue-800 hover:underline"
                        href="#"
                        hx-get="{{ url_for('participant_log') }}"
                        hx-include="#source-select, #participant-select"
                        hx-target="#viewer"
                        hx-swap="outerHTML"
                        hx-vals='{"log": "{{ log_file|urlencode }}"}'>
                        {{ log_file }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
