{% extends "participant_base.html" %}

{% block content %}
    <div class="p-2 bg-slate-100 flex flex-wrap w-full">
        <div class="text-nowrap">
            Step:
            <select
                name="step"
                id="step-select"
                hx-get="{{ url_for('participant_steps') }}"
                hx-target="#viewer"
                hx-swap="outerHTML"
                hx-include="#source-select, #participant-select"
                hx-indicator="#spinner"
                class="mx-4 my-2 inline-block rounded-md border border-black p-1 bg-white">
                {% for step_num, subdir in steps %}
                    <option
                        {% if step_num == current_step %}selected{% endif %}
                        value="{{ step_num }}">
                        {{ subdir.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="m-4">
        <div id="spinner" class="htmx-indicator fixed inset-0 place-self-center p-20 bg-white z-50 drop-shadow-xl">
            <img
                src="/static/img/flask.gif"
                alt="Loading...">
        </div>
        {{ eeg_fig|safe }}
    </div>
{% endblock %}
