{% if request.state['htmx'] %}
    {% extends "participant_fragment_base.html" %}
{% else %}
    {% extends "participant_base.html" %}
{% endif %}

{% block participant_view_content %}
    <form id="steps-form"
          class="p-2 bg-slate-100 flex items-center flex-wrap w-full"
          hx-get="{{ url_for('participant_steps') }}"
          hx-ext="push-url-w-params"
          data-push-url="{{ url_for('participant_steps') }}"
          hx-target="#viewer"
          hx-trigger="change"
          hx-include="#source-select, #participant-select"
          hx-swap="outerHTML"
          hx-indicator="#spinner">
        <div class="text-nowrap mx-4">
            Step:
            <select
                name="step"
                id="step-select"
                class="mx-4 my-2 inline-block rounded-md border border-black p-1 bg-white">
                <option
                    value=""
                    {% if not current_step %}selected{% endif %}
                >--- Please choose an option ---</option>
                {% for step_num, subdir in steps %}
                    <option
                        {% if step_num == current_step %}selected{% endif %}
                        value="{{ step_num }}">
                        {{ subdir.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        {% if yaxis_options %}
            <div class="text-nowrap">
                Y-axis:
                <select
                    name="yaxis"
                    id="yaxis-select"
                    class="mx-4 my-2 inline-block rounded-md border border-black p-1 bg-white">
                    {% for option in yaxis_options %}
                        <option
                            {% if yaxis == option %}selected{% endif %}
                            value="{{ option }}">{{ option.title() }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
        {% if has_prev %}
            <div class="text-nowrap mx-4">
                <input
                    name="onionskin"
                    id="onionskin-checkbox"
                    type="checkbox"
                    value="onionskin"
                    class="inline-block p-1"
                    {% if onionskin %}checked{% endif %}
                >
                Onionskin
            </div>
        {% endif %}
    </form>
    <div class="m-4">
        <div id="mpl-warnings"></div>
        {{ eeg_fig|safe }}
    </div>
{% endblock %}
