<div class="flex" id="view-selector">
    <div class="w-96 flex-none bg-slate-50 p-4 min-h-[80vh]">
        {% if display_selector %}
            <div class="my-2">
                <h3>Participant</h3>
                <select
                    name="participant"
                    id="participant-select"
                    hx-get="/fragments/participant"
                    hx-target="#viewer"
                    hx-include="#view-selector, #source-select"
                    class="mt-1 inline-block mt-1 rounded-md border border-black p-1 bg-white">
                    <option value="" selected>--- Please choose an option ---</option>
                    {% for participant, count in participants %}
                        <option value="{{ participant }}">{{ participant }} [{{ count }}]</option>
                    {% endfor %}
                </select>
            </div>

            <div class="my-2">
                <h3>Step</h3>
                <select
                    name="step"
                    id="step-select"
                    hx-get="/fragments/step"
                    hx-target="#viewer"
                    hx-include="#view-selector, #source-select"
                    class="mt-1 inline-block mt-1 rounded-md border border-black p-1 bg-white">
                    <option value="" selected>--- Please choose an option ---</option>
                    {% for step_num, step_dir in steps %}
                        <option value="{{ step_num }}">{{ step_dir.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="my-2">
                <h3>Logs</h3>
                <select
                    name="log"
                    id="log-select"
                    hx-get="/fragments/log"
                    hx-target="#viewer"
                    hx-include="#view-selector, #source-select"
                    class="mt-1 inline-block mt-1 rounded-md border border-black p-1 bg-white">
                    <option value="" selected>--- Please choose an option ---</option>
                    {% for log in logs %}
                        <option value="{{ log }}">{{ log }}</option>
                    {% endfor %}
                </select>
            </div>
        {% else %}
            <h3 class="italic text-center">Select a dataset above</h3>
        {% endif %}
    </div>
    <div class="flex-1" id="viewer">
    </div>
</div>
